<div id="bg" class="large-12 columns" style="background-color: grey;"></div>
<div id="yieldcontainer" class="row large-12 columns" style="color: black;">
<h1 style="color: white;"><%= @artist.name %></h1>
<div id="mixtapelistcontainer">
<ul id="mixtapelistedit">
<% if @mixtapes.present? %>
   <% @mixtapes.each do |mixtape| %>

  <li class="mixtapelistitem row large-12 columns">

    <div id="mixtapelistav" class="float-left">
       <%= image_tag(mixtape.mixtape_av) %>
    </div>

    <div class="float-left">
       <%= mixtape.title %>
    </div>

       <%= link_to "Delete", artist_mixtape_path(mixtape.artist, mixtape), method: :delete, data: { confirm: "Are you sure?" } %>
  
  </li>

   <br />
<% end %>
<% end %>
</ul>
</div>

<%= form_for([@artist, @artist.mixtapes.build], :html => {:id => "commentsform", :class => "row large-12 columns float-left"}) do |f| %>

  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :mixtapeav %>
  <%= f.file_field :mixtape_av %><br />


  <%= f.label :tracksamount %>
  <%= f.number_field :tracksamount %>

  <%= f.submit %>

<% end %>