<div id="masterplayer">
<div id="bg" class="large-12 columns" style="background-color: lightgrey;"></div>

	 <div id="yieldcontainer" class="row large-12 columns float-center">
        <div id="indexpadding" class="alpha60"> 


        <div id="headerwrapper" class="row large-12 columns">
        <div id="desktopblank" style="height: 80px;" class="row medium-12 columns show-for-medium"></div>
        <div id="mobileblank" style="height: 13px" class="row small-12 columns hide-for-medium"></div>
         <div id="mixtapeartist" class="row large-12 small-12 columns float-left"><b><%= link_to "#{@artist.name}", artist_path(@artist) %></b>
         <div id="mbloginbtn" class="float-right"></div>
         <div id="mbloginbtn" class="float-right"></div>
         <div id="mbloginbtn" class="float-right"></div>
         </div>

              <div id="artistsmixtapeswrap" class="row large-9 small-9 columns float-right">
                                <% if @mixtapes.present? %>
                  <% @mixtapes.each do |mixtape| %>
                    <div class="mixtapecontainer byartist float-left">
                       <%= link_to mixtape, method: :get do %>
                      <div class="avatarcontainer float-center">
                           <%= image_tag(mixtape.mixtape_av) %>
                           <span class="titleshow show-for-large">
                           <%= mixtape.title %>
                           </span>
                      </div>

                     <% end %>
                  </div>
              <% end %>
                  <% end %>
              </div>


        </div>

<div style="height: 1000px; width: 500px;"></div>

        </div>
	 </div>

<%= render "layouts/footplayer" %>

</div>