<%= form_for([@mixtape, @mixtape.comments.build], :html => {:id => "commentsform", :class => "row"}) do |f| %>

   <%= f.text_field :content, placeholder: 'Log in to comment', :readonly => true %>
   <input type="submit" name="commit" value="Add Comment" id="comment-submit-button-locked"  data-disable-with="Adding comment...">
   <script type="text/javascript">
   	$('#comment-submit-button-locked').click(function(){

    return false;

});
   </script>

<% end %>