<%= form_for([@mixtape, @mixtape.comments.build], :html => {:id => "commentsform", :class => "row large-12 columns float-left"}) do |f| %>

<div id="commentsformwrapper" class="row large-12 columns float-right">

<div id="userav" class="large-1 columns float-left show-for-medium"><%= image_tag "user" %></div>

   <%= f.text_area :content, :class => "large-11 columns float-right", :id => "commentsformtext", :placeholder => "Write your comment" %>

</div>

<div class="row large-12 columns">

   <%= f.submit "Add Comment", :class => "large-2 columns float-right", :id => "comment-submit-button" %>

</div>


<script type="text/javascript">
	var span = $('<span>').css('display','inline-block')
                      .css('word-break','break-all')
                      .appendTo('body').css('visibility','hidden');
function initSpan(textarea){
  span.text(textarea.text())
      .width(textarea.width())
      .css('font',textarea.css('font'));
}
$('textarea').on({
    input: function(){
       var text = $(this).val();      
       span.text(text);      
       $(this).height(text ? span.height() : '1.1em');
    },
    focus: function(){           
       initSpan($(this));
    },
    keypress: function(e){
       //cancel the Enter keystroke, otherwise a new line will be created
       //This ensures the correct behavior when user types Enter 
       //into an input field
       if(e.which == 13) e.preventDefault();
    }
});
</script>

<% end %>