  <div class="sm2-playlist-wrapper">
    
    <ul class="sm2-playlist-bd">
     <!-- item with "download" link -->
     <% @songs.each do |song| %>
      
      <li>
      <%= link_to song.audio.url, :title => "#{song.trackid} - #{song.title}", :class => "playlistlink" do %>
      <span class="redfont"><%= song.trackid %> - <%= song.title %></span>
      <% end %>
      <%= link_to "#", song.audio.url, :title => "#{song.trackid} - #{song.title}", :class => "playlistdllink sm2-exclude" %>
      </li>

     <% end %>

    </ul>
  
  </div>
