<div id="bg" class="large-12 columns" style="background-color: grey;"></div>
<div id="yieldcontainer" class="row large-12 columns" style="color: black;">
<div id="uploadlistcontainer">
<% if @songs.present? %>
   <% @songs.each do |song| %>
   <%= song.trackid %>
   <%= song.title %>
   <br />
<% end %>
<% end %>
</div>
<ul id="edittracklist" style="margin-top: 50px;">
<%= form_for @mixtape do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :mixtapeav %>
  <%= f.file_field :mixtape_av %><br />

  <%= f.label :tracksamount %>
  <%= f.number_field :tracksamount %>

  <%= f.submit %>
<% end %>
<%= form_for (@mixtape) do |f| %>
 <%= @tracksamount.times do |i| %>
  <%= f.fields_for :songs, [Song.new] do |track| %>
  <li class="trackitem">
	<%= track.label :trackid %>
	<%= track.number_field :trackid, :readonly => true, :value => i + 1 %>
    <br />
	<%= track.label :title %>
	<%= track.text_field :title %>
	<br />
	<%= track.file_field :audio %>
  </li>
 <% end %>

 
<% end %>

  <%= f.label :archive %>
  <%= f.file_field :archive %><br />
<%= f.submit :class => "submit-button" %>
<% end %>
</ul>
<%= link_to "Submit", mixtape_path(@mixtape) %>
</div>