<div id="masterplayer">
<div id="bg" class="large-12 columns" style="background-color: lightgrey;"></div>

 
	 <div id="yieldcontainer" class="row large-12 columns float-center">
        <div id="indexpadding" class="alpha60"> 



			    <div id="spotlight" class="row large-6 medium-6 columns">
			    	<div class="h1corner">
			    	<div class="h1"><span class="float-right">Spotlight</span></div>
			    	</div>
			    </div>

	    <div id="mixtapeindexwrapper" class="row large-7 small-12 columns float-left">

					<div class="mixtapeindex float-center">
					  <% @mixtapes.each do |mixtape| %>
					    <div class="mixtapecontainer large-3 medium-3 small-4 columns float-left">
					       <%= link_to mixtape, method: :get do %>
						    <div class="avatarcontainer float-center">
						         <%= image_tag(mixtape.mixtape_av) %>
						    </div>
						    <div style="color: black;" class="indexlabel" align="center">
						    	<span id="indexmixtapetitle"><b><%= mixtape.title %></b></span></br>
						    	<span id="indexartistname"><%= mixtape.artist.name %></span>

						    </div>
						   <% end %>
						</div>
					  <% end %>
					</div>

	    </div>

<div style="height: 1000px; width: 500px;"></div>

        </div>
	 </div>

<%= render "layouts/footplayer" %>

</div>
<script type="text/javascript">
	$(document).ready(function() {
soundManager.stopAll();
	});
</script>