<div id="masterplayer">
<div id="bg" class="large-12 columns" style="background-color: grey;"></div>
 <div id="yieldcontainer" class="row large-12 columns float-center">
        <div id="indexpadding" class="alpha60">

   <div id="mixtapeindexwrapper" class="row large-7 small-12 columns float-left">

					<div class="mixtapeindex float-center">
					  <% @mixtapes.each do |mixtape| %>
					    <div class="mixtapecontainer large-3 medium-3 small-4 columns float-left">
					       <%= link_to mixtape, method: :get do %>
						    <div class="avatarcontainer float-center">
						         <%= image_tag(mixtape.mixtape_av) %>
						         <div id="indexvotebar"><div id="indexlikebar" style="width: <%= ((mixtape.get_upvotes.size.to_f / (mixtape.get_upvotes.size.to_f + mixtape.get_downvotes.size.to_f)) * 100) %>%"></div></div>
						    </div>
						    <div style="color: black;" class="indexlabel" align="center">
						    	<span id="indexmixtapetitle"><b><%= mixtape.title %></b></span></br>
						    	<span id="indexartistname"><%= mixtape.artist.name %></span>

						    </div>
						   <% end %>
						</div>
					  <% end %>
					</div>

	    </div>
		<div class="row large-4 columns">
			<%= link_to "Add new mixtape", new_mixtape_path %>
		</div>


		</div>
 </div>
<%= render "layouts/footplayer" %>

</div>