<div id="yieldcontainer" style="background-color: grey;">
<div class="row">
<%= form_for @mixtape do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %><br />

  <%= f.label :mixtapeav %>
  <%= f.file_field :mixtape_av %><br />


  <%= f.label :tracksamount %>
  <%= f.number_field :tracksamount %>

  <%= f.submit %>
<% end %>
</div>
</div>
<button class="button" type="button" data-toggle="example-dropdown">Toggle Dropdown</button>
<div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
  Example form in a dropdown.
  <form>
    <div class="row">
      <div class="medium-6 columns">
        <label>Name
          <input type="text" placeholder="Kirk, James T.">
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Rank
          <input type="text" placeholder="Captain">
        </label>
      </div>
    </div>
  </form>
</div>