<div id="masterplayer">
<div id="mbtitlecontainer">

<div id="mbtitlewrapper" class="hide-for-large">
 <div id="mbtitle">
   <div class="sm2-playlist">
    <div class="sm2-mbplaylist-target"><div id="mbtitlegrad"><ul class="sm2-playlist-bd"></ul></div></div>
   </div>
 </div>
</div>
 <div id="mbtitleshadow" class="hide-for-large"></div>

</div>
        <div id="headerwrapper" class="row large-12 columns">
        <div id="desktopblank" style="height: 80px;" class="row medium-12 columns show-for-medium"></div>
        <div id="mobileblank" style="height: 13px" class="row small-12 columns hide-for-medium"></div>
         <div id="mixtapeartist" class="row large-12 small-12 columns float-left"><b><%= link_to "#{@mixtape.artist.name}", artist_path(@artist) %></b>
         <div id="mbloginbtn" class="float-right"></div>
         <div id="mbloginbtn" class="float-right"></div>
         <div id="mbloginbtn" class="float-right"></div>
         </div>

              <div id="artistsmixtapeswrap" class="row large-9 small-9 columns float-right">
                                <% if @artistsmixtapes.present? %>
                  <% @artistsmixtapes.each do |mixtape| %>
                    <div class="mixtapecontainer byartist float-left">
                       <%= link_to mixtape, method: :get do %>
                      <div class="avatarcontainer float-center">
                           <%= image_tag(mixtape.mixtape_av) %>
                           <span class="titleshow show-for-large">
                           <%= mixtape.title %>
                           </span>
                      </div>

                     <% end %>
                  </div>
              <% end %>
                  <% end %>
              </div>


        </div>

        <div id="yieldcontainer" class="row large-12 columns float-center" style="
    background: -webkit-linear-gradient(left top, rgba(0, 0, 0, 0.8), black 40%), url('<%= @mixtape.mixtape_av.url %>');
    background: -o-linear-gradient(bottom right, rgba(0, 0, 0, 0.8), black 40%), url('<%= @mixtape.mixtape_av.url %>');
    background: -moz-linear-gradient(bottom right, rgba(0, 0, 0, 0.8), black 40%), url('<%= @mixtape.mixtape_av.url %>');
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), black 40%), url('<%= @mixtape.mixtape_av.url %>');">
        <script type="text/javascript">

          if ($(window).width() < 800) {
            $("#yieldcontainer").css("background-position", "center top");
            $("#yieldcontainer").css("background-size", "contain");
            $("#yieldcontainer").css("background-image", "linear-gradient(rgba(0, 0, 0, 0.8), black 100vh), url('<%= @mixtape.mixtape_av.url %>')");
            $("body").css("background-attachment", "scroll")
          }

        </script>



        <div id="contentpadding">


        <div id="labelwrapper" class="row large-12 small-12 columns float-right">
                <div id="leftcontainer" class="row large-3 medium-3 small-3 columns float-left">
                            <div id="mixtape_avcontainer">
                                <div class="float-left" id="mixtape_av">
                        			<%= image_tag(@mixtape.mixtape_av, :id => "mixtape_avimg") %>

                                </div>
                            </div>
                </div>


            	<div id="mixtapelabelcont" class="row large-9 columns">


                	<span id="mixtapetitle"><%= @mixtape.title %></span> <br />
                  <div id="mbmixtapedet" class="row large-5 small-5 columns float-left hide-for-large">
                  <span class="float-left viewscount"><%= image_tag("viewseye", :id => "viewseye") %><b><%= "#{@mixtape.impressionist_count}" %> <%= image_tag("dls") %><%= @mixtape.downloadscount.to_i %></b></span>
                  </div>


                  <span class="viewscount row large-5 columns float-left show-for-large"><%= image_tag("viewseye", :id => "viewseye") %><b><%= "#{@mixtape.impressionist_count}" %> <%= image_tag("dls") %><%= @mixtape.downloadscount.to_i %></b></span>

              </div>

        </div>

            <div id="playercontainer" class="row large-7 columns float-left">
            <%= render 'player' %>
            </div>
        <span class="row float-left hide-for-medium"><%= link_to 'Download mixtape', download_path(@mixtape), :class => "downloadbtn mb" %></span>

            <div id="disqustrigger" class="row small-12 columns show-for-small-only">SHOW COMMENTS</div>
                    <div id="disqus_thread" class="row large-7 columns float-left"></div>
                    <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
                    /*
                    var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//tapecamp.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


            <script type="text/javascript">
                        if ($(window).width() < 800) {
                            $("#yieldcontainer").css("padding-bottom", "60px")
                            $("#disqus_thread").css("display", "none");
                            $("#disqustrigger").click(function() {
                                  $("#disqus_thread").css("display", "block");
                            });
                          }

            </script>

        </div>
        </div>
        <%= render "layouts/footplayer" %>
</div>
</div>
