<%= form_for([@mixtape, @mixtape.songs.build]) do |f| %>
	<%= f.label :trackid %>
	<%= f.number_field :trackid %>
    <br />
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br />
	<%= f.file_field :audio %>
	<%= f.submit %>
<% end %>