<div id="yieldcontainer">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
</div>

<div id="mixtapelistcontainer">
<ul id="mixtapelistedit">
<% if @mixtapes.present? %>
   <% @mixtapes.each do |mixtape| %>

  <li class="mixtapelistitem row large-12 columns">

    <div id="mixtapelistav" class="float-left">
       <%= image_tag(mixtape.mixtape_av) %>
    </div>

    <div class="float-left">
       <%= mixtape.title %>
    </div>

       <%= link_to "Delete", artist_mixtape_path(mixtape.artist, mixtape), method: :delete, data: { confirm: "Are you sure?" } %>
  
  </li>

   <br />
<% end %>
<% else %>
<%= link_to "Add Mixtape", new_artist_mixtape_path(current_artist, @mixtape) %>
<% end %>
</ul>
</div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<%= link_to "Back", :back %>
</div>