
<div id="footercontainer">
<footer>
    <div id="footerbarwrapper">
        <div id="footeroverlay" class="show-for-large">
        <div id="footerbaroverlay"></div><div id="footerprogball"><%= image_tag('progball') %></div>
        <div id="footeractivebar">
        </div>
        </div>
        <div id="footerprogballbl"><%= image_tag('progballbl') %></div>
    <script type="text/javascript">
    var wrapper = document.getElementById('footerbarwrapper');
    wrapper.onclick = function handlefooterMouse(e){};
    </script>
      <div id="footerbar">
      <div id="footerprogbar"></div>
      </div>
    </div>
</footer>

<footer>
      <div id="footercontrolwrapper" class="sm2-bar-ui fixed full-width flat">
      <div id="footerfrozen"></div>
     <div id="footercontrol" class="row bd sm2-main-controls">
      <div class="sm2-inline-texture"></div>
      <div class="sm2-inline-gradient"></div>
      <div class="sm2-inline-element hide-for-medium" id="ftmixtapeav">
      <% if @mixtape.present? %>
      <%= image_tag(@mixtape.mixtape_av) %>
      <% else %>
      <%= image_tag("logoxmmini") %>
      <% end %>
      </div>

      <div class="sm2-inline-element float-left">
        <div id="fttime" class="sm2-ftinline-time">0:00</div>
      </div>


      <div class="sm2-inline-element sm2-button-element float-left">
       <div class="sm2-button-bd">
        <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
       </div>
      </div>

      <div class="sm2-inline-element sm2-button-element float-left">
       <div class="sm2-button-bd">
        <a href="#play" class="sm2-inline-button play-pause">Play / pause</a>

       </div>
      </div>

      <div class="sm2-inline-element sm2-button-element float-left">
       <div class="sm2-button-bd">
        <a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
       </div>
      </div>

      <div id="fttitle" class="float-left show-for-large" >
          <div class="sm2-ftplaylist-target"></div>
      </div>


      <div class="sm2-inline-element float-right">
        <div id="footerduration" class="sm2-ftinline-duration">0:00</div>
      </div>

  <div id="volumecontainer" class="show-for-large">


      <div class="sm2-inline-element float-right"  style="width: 100px; height: 40px; padding-top: 5px;">



        <div id="volumebarwrapper" class="sm2-volume-control" style="height: 100%;">
            <div id="volumebar" class="sm2-volume-control">
              <div id="volumebarfill">
              </div>
            </div>    
        </div>

      </div>

      <a id="volumeicon" class="sm2-inline-element float-right volume-3">
      </a>

  </div>
  
     </div>

    </div>

</footer>
</div>


  <div id="footershadow"><div id="footershadowrow" class="row show-for-medium"></div></div>


<script type="text/javascript">
  $('#footercontainer').mouseenter(function() { $('#footeroverlay').fadeIn(100); });
  $('#footercontainer').mouseleave(function() { $('#footeroverlay').fadeOut(100); });

  $('#volumeicon').click(function() {
     if (('sound0').muted) {
      soundManager.unmute('sound0');
     } else {
      soundManager.toggleMute('sound0');
     };

      $('#volumebarfill').toggleClass('muted');
      $(this).toggleClass('muted');
      
  });

</script>