<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <title><%= content_for?(:title) ? yield(:title) : if @mixtape.present?
      "#{@mixtape.title} - xMixtapes"
      else
      "xMixtapes"
      end %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "bar-ui" %>
    <%= stylesheet_link_tag    "customstyles" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "soundmanager2", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>



</head>



  </head>

  <body style="background-image: url(<%=
            @background %>)">
      
        <div id="navbar" class="show-for-medium">
        <div id="navbaroverlay" class="row large-12 columns">

        <%= link_to "sign out", destroy_artist_session_path, :method => :delete %>
             <div id="searchwrapper" class="large-3 medium-3 columns show-for-large float-right">
                      <%= form_tag search_results_path, :method => :get do %>
                          <%= text_field_tag :search, params[:search], :id => "searchinput", :class => "float-left", :placeholder => "Search Mixtapes..." %>
                          <%= image_submit_tag("search", :id => "searchbutton", :class => "float-left") %>
                      <% end %>
             </div>
        </div>
        </div>

          <%= yield %>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </body>

  <script type="text/javascript">
    $(document).foundation();
  </script>


</html>